@font-face {
    font-family: 'Bodoni';
    src: url('Bodoni.eot');
    src: url('Bodoni.eot?#iefix') format('embedded-opentype'),
        url('Bodoni.woff2') format('woff2'),
        url('Bodoni.woff') format('woff'),
        url('Bodoni.ttf') format('truetype'),
        url('Bodoni.svg#Bodoni') format('svg');
    font-weight: normal;
    font-style: normal;
}

